.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #ffd72c;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  padding: 2px 15px;
  border-radius: 5px;
  border-color: #ffd72c;
  border-style: solid;
  outline: 0;
  z-index: 20;
  cursor: pointer;
  font-weight: 600;
}

.checkoutProduct__info > button:hover {
  background: #ff9f00b0;
  border-color: #ff9f00b0;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.star__checked {
  color: #ff9f00;
}
