.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 120px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #ff9f00;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  padding: 2px 30px;
  border-radius: 20px;
  border-color: #ff9f00;
  border-style: solid;
  outline: 0;
  z-index: 20;
  cursor: pointer;
  font-weight: 600;
}

.subtotal > button:hover {
  background: #ff9f00b0;
  border-color: #ff9f00b0;
}
